
@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Raleway/Raleway-Medium.ttf);
}

$font-1: "font-1", sans-serif;

$color-1: #61dafb;
$color-2: salmon;
$color-3: #282c34;
$white: rgb(243, 243, 243);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(49, 49, 49);
  font-family: $font-1;
  
}
li {
  list-style-type: none;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: 0.9em;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 35%;
  color:$white;

}

h1 {
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 35%;
  padding-top: 40px;
  padding-bottom: 25px;
  color: rgb(149, 149, 149);
}

@media only screen and (max-width: 480px) {
  .monsters {
    .radio-container {
      flex-direction: column;
    }
    input[type="text"] {
      width: 100%;
    }
  }
}

